.challengesandsolutions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 64px 88px;
  gap: 64px;
  background: #111111;
  @media (max-width: 790px) {
    flex-direction: column;
    padding: 64px 18px;
  }
  .challanges_solution {
    h1 {
      text-transform: capitalize;
      padding-bottom: 32px;
    }
    img {
      width: 100%;
    }
    .challanges_solution_content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .chalange_icon {
        width: 40%;
      }

      .description {
        padding: 32px;
        text-transform: capitalize;
        line-height: 19px;
        h2 {
          font-size: 18px;
          font-weight: 600;
          padding-bottom: 8px;
        }
        p {
          font-size: 14px;
          line-height: 19px;
          font-weight: 400;
        }
      }
    }
    //responsive
    @media (max-width: 790px) {
      &:nth-child(1) {
        h1 {
          text-align: left;
        }
        .challanges_solution_content {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: left;
          padding-top: 20px;
          gap: 0;
          svg {
            width: 100px;
          }
          .description {
            text-align: left;
          }
        }
      }
      &:nth-child(2) {
        h1 {
          text-align: right;
        }
        .challanges_solution_content {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: right;
          padding-top: 20px;
          gap: 0;
          svg {
            width: 100px;
          }
          .description {
            text-align: right;
          }
        }
      }
    }
  }
}
